@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap');

body {
  line-height: 1.4;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-stretch: 75%;
  /* Condensed width */
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-stretch: 75%;
  color: #848484;
  font-size: 16px;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-stretch: 75%;
  font-weight: 600;
}