<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4>About Us</h4>
                        <p><strong>THIEN PHU CO., LTD</strong></p>
                        <p>We specialize in manufacturing and supplying high-quality glass: tempered glass,
                            heat-strengthened glass, laminated glass, IGU glass, UV printed glass, frosted glass, and
                            many other products.</p>
                        <p><strong>Tax ID:</strong> 0304116870</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4>Products</h4>
                        <ul class="link-list">
                            <li>Tempered Glass</li>
                            <li>Heat-Strengthened Glass</li>
                            <li>Laminated Glass (PB, SGP, Dupont)</li>
                            <li>Insulating Glass Units (IGU)</li>
                            <li>UV Printed Glass</li>
                            <li>Frosted Glass</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4>Quick Links</h4>
                        <ul class="link-list">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="capabilities.html">Capabilities & Tech</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4>Office</h4>
                        <ul class="contact-info">
                            <li><strong>Address:</strong><br>57 Quang Trung, Hiep Phu Ward, Thu Duc City, HCMC</li>
                            <li><strong>Phone:</strong><br><a href="tel:+84837923996">(+84) 83 792 3996</a></li>
                            <li><strong>Fax:</strong><br>(+84) 83 792 3998</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4>Factory 1</h4>
                        <ul class="contact-info">
                            <li><strong>Address:</strong><br>Hamlet 3, Phuoc Vinh An Commune, Cu Chi Dist, HCMC</li>
                            <li><strong>Area:</strong><br>10,000 m²</li>
                            <li><strong>Workshop:</strong><br>7,500 m²</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h4>Factory 2</h4>
                        <ul class="contact-info">
                            <li><strong>Address:</strong><br>Thai Hoa IP, Tan Hoa Hamlet, Duc Lap Ha Commune, Duc Hoa
                                Dist, Long An</li>
                            <li><strong>Workshop:</strong><br>9,700 m²</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>© 2025 THIEN PHU CO., LTD. All rights reserved</h5>
    </div>
</footer> <!-- end footer -->