<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area" style="background-image: url(../images/slider/slider1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">THIEN PHU CO., LTD –
                        High Quality Glass Manufacturer</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">We specialize in
                        manufacturing and supplying tempered glass, heat-strengthened glass, laminated glass, IGU glass,
                        and many other glass products with international quality standards.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
                        href="products.html">View Products</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area" style="background-image: url(../images/slider/slider2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Comprehensive Glass Solutions for Every Project</h1>
                    <p>With 2 modern factories and a professional team, we commit to providing high-quality glass
                        products that meet every customer need.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
                        href="contact.html">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area"
        style="background-image: url(../images/slider/call-to-action-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Trusted Partner in Glass
                        Industry</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Over 20 years of
                        experience, we are proud to be a partner of hundreds of large and small projects nationwide.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
                        href="capabilities.html">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>