<!--
Start Partners Preview Section
==================================== -->
<section class="partners-preview section" id="partners-preview">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-8 col-lg-10">
                <div class="title text-center">
                    <h2>Trusted Partners</h2>
                    <p>We are proud to cooperate with reputable partners worldwide, bringing the most advanced
                        technology solutions.</p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row">
            <!-- Partner 1 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143732.png" alt="Partner 1"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 2 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143739.png" alt="Partner 2"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 3 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143744.png" alt="Partner 3"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 4 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143750.png" alt="Partner 4"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 5 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143754.png" alt="Partner 5"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 6 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143759.png" alt="Partner 6"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 7 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143805.png" alt="Partner 7"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 8 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143852.png" alt="Partner 8"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 9 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143728.png" alt="Partner 9"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 10 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143900.png" alt="Partner 10"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 11 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143904.png" alt="Partner 11"
                        class="img-fluid">
                </div>
            </div>
            <!-- Partner 12 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="partner-logo-item text-center p-3">
                    <img loading="lazy" src="../images/client-logo/Screenshot 2025-12-20 143908.png" alt="Partner 12"
                        class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a href="partners.html" class="btn btn-main">View All Partners</a>
            </div>
        </div>
    </div> <!-- End container -->
</section> <!-- End section -->