<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-lg-8">
				<div class="title text-center">
					<h2>Nền Tảng Nhân Sự</h2>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="about-content text-center">
					<p>Đội ngũ Thiên Phú là sự kết hợp hài hòa giữa tập thể 162 con người tận tụy, giàu tư duy sáng tạo.</p>
					<p>Với tinh thần trách nhiệm và sự chuyên nghiệp, đội ngũ của chúng tôi luôn làm chủ công nghệ, tuân thủ nghiêm ngặt mọi quy trình sản xuất. Đây chính là nền tảng vững chắc để Thiên Phú cam kết tạo ra những sản phẩm chất lượng đồng nhất, đáp ứng mọi yêu cầu khắt khe nhất từ khách hàng.</p>
				</div>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->