<!--
Start About Intro Section
==================================== -->
<section class="about-intro section padding-top-80 padding-bottom-80" id="about-intro">
	<div class="about-overlay-wrapper">
		<img src="images/company/logoaboutus.png" alt="Thiên Phú Glass Logo" class="about-logo">
		<img src="images/about/vechungtoi-Photoroom.png" alt="Về Chúng Tôi" class="about-text-img">
	</div>
	<div class="container">
		<!-- Content removed as per user request to show only background -->
	</div>
</section>