<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<h2>Cùng F0tech xây dựng giải pháp công nghệ dành riêng cho doanh nghiệp bạn</h2>
				<p>Bạn đang tìm kiếm một đối tác đáng tin cậy để triển khai chiến lược marketing, phần mềm tùy chỉnh hoặc chuyển đổi số?<br>Hãy để chúng tôi đồng hành và tạo ra giá trị bền vững cùng bạn.</p>
				<a href="contact.html" class="btn btn-main">Liên hệ với chúng tôi</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->