<!--
Start Capabilities & Technology Section
==================================== -->



<section class="capabilities section" id="capabilities">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-8 col-lg-10">
				<div class="title text-center">
					<h2>Tổ Hợp Sản Xuất</h2>
					<p>Với hệ thống máy móc hiện đại và quy trình sản xuất tiên tiến, chúng tôi đảm bảo chất lượng sản
						phẩm đạt tiêu chuẩn quốc tế.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>


		<!-- Video nhà máy -->
		<div class="row mb-5">
			<div class="col-12">
				<div class="video-wrapper text-center">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>


		<!-- Dây chuyền sản xuất -->
		@@include('blocks/production-lines.htm')

		<!-- Danh sách máy móc -->
		@@include('blocks/machines-list.htm')

		<!-- Danh sách vận tải -->
		@@include('blocks/transport-list.htm')

		<!-- Chứng nhận -->
		@@include('blocks/certifications.htm')




	</div> <!-- End container -->
</section> <!-- End section -->