<!--
Start Factory Video Section
==================================== -->
<section class="factory-video section" id="factory-video">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-8 col-lg-10">
				<div class="title text-center">
					<h2>Video Nhà Máy & Hoạt Động</h2>
					<p>Khám phá quy trình sản xuất và hoạt động của chúng tôi qua các video thực tế.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row">
			<div class="col-md-6 mb-4">
				<div class="video-item">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
					</div>
					<div class="video-caption p-3">
						<h4>Video Giới Thiệu Nhà Máy</h4>
						<p>Khám phá cơ sở sản xuất hiện đại của chúng tôi</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4">
				<div class="video-item">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
					</div>
					<div class="video-caption p-3">
						<h4>Video Quy Trình Sản Xuất</h4>
						<p>Tìm hiểu quy trình sản xuất kính từ A đến Z</p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End container -->
</section> <!-- End section -->



