<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-1.png);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">CÔNG TY TNHH THIÊN PHÚ – Chuyên sản xuất kính chất lượng cao</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Chúng tôi chuyên sản xuất và cung cấp các loại kính cường lực, kính bán cường lực, kính ghép fim, kính hộp IGU và nhiều sản phẩm kính khác với chất lượng đạt tiêu chuẩn quốc tế.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="products.html">Xem Sản Phẩm</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-2.png);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Giải pháp kính toàn diện cho mọi công trình</h1>
					<p>Với 2 nhà máy hiện đại và đội ngũ chuyên nghiệp, chúng tôi cam kết mang đến sản phẩm kính chất lượng cao, đáp ứng mọi nhu cầu của khách hàng.</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="contact.html">Liên Hệ Ngay</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/call-to-action-bg.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Đối tác tin cậy trong ngành sản xuất kính</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Hơn 20 năm kinh nghiệm, chúng tôi tự hào là đối tác của hàng trăm dự án lớn nhỏ trên toàn quốc.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="about.html">Tìm Hiểu Thêm</a>
				</div>
			</div>
		</div>
	</div>
</div>