<!--
Start Partners Preview Section
==================================== -->
<section class="partners-preview section" id="partners-preview"
	style="background-image: url('images/products/background_noibat.png'); background-repeat: no-repeat; background-size: cover; transform: scaleY(-1); height: 720px;">
	<div class="container h-100" style="transform: scaleY(-1);">
		<div class="row align-items-center h-100 justify-content-center">
			<div class="col-12 text-center">
				<img src="images/client-logo/doitackhachhang.png" alt="Đối Tác Khách Hàng" class="img-fluid"
					style="transform: scale(1.2);">
			</div>
		</div>
	</div>
</section>